@page
@model WebApp.Pages.SetSongs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SetSong[0].Set)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetSong[0].Song)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SetSong) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Set.SetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Song.SongName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
